@import './../../App';

.button{
  margin: 5%;
  display: block;
  background: none;
  outline: none;
  width: 100px;
  height: 35px;
  border: none ;
  border-radius: 10px;
  font-width: 700;
  font-size: 13px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}