@import './../../App';
.title{
  padding-top: 15%;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  color: black
  /*
  .spanColor1{
    color: $color2;
  }
  .spanColor2{
    color: $color1
  }
   */
}