@import './../../App';

.main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  .title{
    margin-bottom: 100px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    .text{
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      color: $color1
    }
  }
}