@import './../../App';
.login{
  background-image: url("https://sun9-41.userapi.com/s/v1/if2/PmSkzj8Sr8Q7Q3bvxsUpTL5SMohAML2VVOdoc2Rvhf-NSFi7E_wuDB1VWk6bRTnuAOgwTtgt9bKtVuGFYmSPQKiu.jpg?size=1440x900&quality=95&type=album");
  display: block;
  width: 100%;
  background-color: $color1;
  height: 100%;
}